+++
title = "TransHub"
linkTitle = "Transhub"

+++

{{< blocks/cover title="Welcome to TransHub" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		   Download <i class="fab fa-github ml-2 "></i>
	     </a> -->
	<p class="lead mt-5">A grassroots transgender harm reduction project</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
TransHub is a grass-root, volunteer-run organization, working with **therapeutic education** and medical and social harm reduction.

One of our aims is to inform the trans community of their healthcare alternatives, following the therapeutic education idea that people need to **reappropriate the means of their healthcare.** 

We believe that precise and well-sourced knowledge on all possible treatments is key to **seize back the means of our medical transition, and to reduce harm.**

{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}

**SAFT - Social Action Fund för Transpersoner**

TransHub also operates the SAFT - Social Action Fund för Transpersoner.

Please visit the SAFT section on this website in order to learn more about the fund, and our projects for the future, and how to help us as allies or siblings.


{{% /blocks/lead %}}

