+++
title = "TransHub"
linkTitle = "Transhub"

+++

{{< blocks/cover title="Welcome to TransHub" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		   Download <i class="fab fa-github ml-2 "></i>
	     </a> -->
	<p class="lead mt-5">A grassroots transgender harm reduction project</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
TransHub is a grass-root, volunteer-run initiative, working with **therapeutic education** and harm reduction, in the framework of medical transitions. 

Our aim is to inform the trans community of their healthcare alternatives, following the therapeutic education idea that people need to **reappropriate the means of their healthcare.** 

We believe that precise and well-sourced knowledge on all possible treatments is key to **seize back the means of our medical transition, and to reduce harm.**

{{% /blocks/lead %}}

{{% blocks/lead color="secondary" %}}

**TFSF - Transfeministisk Solidaritetsförbund**

TransHub is the ressources, information, and action platform operated by TFSF - Transfeministisk Solidaritetsförbund.

TFSF is an organization promoting therapeutic education and harm reduction for transgender people. 
Please visit the TFSF section on this website in order to learn more about us, and our projects for the future.


{{% /blocks/lead %}}




{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


